<html xmlns:og="http://ogp.me/ns#">
  <head>
    <meta property="og:latitude" content="{{og-latitude}}"/>
    <meta property="og:longitude" content="{{og-longitude}}"/>
    <meta property="og:street-address" content="{{og-street-address}}"/>
    <meta property="og:locality" content="{{og-locality}}"/>
    <meta property="og:region" content="{{og-region}}"/>
    <meta property="og:postal-code" content="{{og-postal-code}}"/>
    <meta property="og:country-name" content="{{og-country-name}}"/>


