<meta property="og:title" content="{{title}}">
<meta itemprop="name" content="{{title}}">
<meta property="og:type" content="{{og-type}}">{{! can be simply "website"}}
<meta property="og:description" content="{{description}}">
<meta itemprop="description" content="{{description}}">

<meta property="og:url" content="{{og-url}}">
<meta property="og:image" content="{{og-image-url}}">
<meta property="og:site_name" content="{{og-site-name}}">
<meta property="og:locale" content="{{og-locale}}">
<meta property="fb:admins" content="{{fb-admin1}}, {{fb-admin2}}">
<meta property="fb:app_id" content="{{fb-app-id}}">

<link href="https://plus.google.com/{{google-plus-id}}" rel="publisher">

<title>{{title}}</title>