<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"xmlns:fb="https://www.facebook.com/2008/fbml">
  <head prefix="og: http://ogp.me/ns# {{app-namespace}}: http://ogp.me/ns/apps/{{app-namespace}}#">
    <title>{{title}}</title>
    <meta property="fb:app_id" content="{{app-id}}" />
    <meta property="og:type" content="{{app-namespace}}:recipe" />
    <meta property="og:title" content="Stuffed Cookies" />
    <meta property="og:image" content="http://fbwerks.com:8000/zhen/cookie.jpg" />
    <meta property="og:description" content="The Turducken of Cookies" />
    <meta property="og:url" content="http://fbwerks.com:8000/zhen/cookie.html" />
  </head>
  <body>
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId : '{{app-id}}', // App ID
          status: true, // check login status
          cookie: true, // enable cookies to allow the server to access the session
          xfbml : true  // parse XFBML
        });
      };

      // Load the SDK Asynchronously
      (function(d){
        var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        d.getElementsByTagName('head')[0].appendChild(js);
      }(document));
    </script>

    <h3>{{page-title}}</h3>
    <p><img title="Stuffed Cookies"src="http://fbwerks.com:8000/zhen/cookie.jpg"width="550"/></p>

    {{> body }}

  </body>
</html>